{{>head}}
{{>nav}}
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
            <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                    <header class="header navbar navbar-expand-sm">
                        <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        </a>
                        <div class="d-flex breadcrumb-content">
                            <div class="page-header">
                                <div class="page-title"><h3>{{ title }}</h3></div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>

            <div class="row layout-top-spacing">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control br-30 page-selection" name="perPage" data-query="{{ checkQuery originalUrl.search 'perPage' }}">
                                {{#select perPage }}
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-9 filtered-list-search mx-auto">
                            <div class="form-inline my-2 my-lg-0 justify-content-center">
                                <div class="w-100">
                                    <input type="text" class="w-100 form-control product-search br-30" name="search" placeholder="Tìm kiếm" value="{{search}}">
                                    <button class="btn btn-primary _effect--ripple waves-effect waves-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="col-md-12">
                    <form action="" method="post" class="form-axios">
                        <div class="kt-form-item">
                            <label class="kt-form-label">Lý do</label>
                            <select name="type" class="form-control">
                                <option value="wrong">Sai nội dung</option>
                            </select>
                        </div>
                        <div class="kt-form-item">
                            <label class="kt-form-label">Mã giao dịch</label>
                            <input type="text" name="transId" class="form-control"
                                   placeholder="Nhập mã giao dịch">
                        </div>
                        <div class="kt-form-item">
                            <label class="kt-form-label">Tài khoản</label>
                            <input type="text" name="username" class="form-control"
                                   placeholder="Nhập tài khoản">
                        </div>
                        <div class="form-group">
                            <label for="" class="">OTP</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="otp" placeholder="Nhập mã otp được gửi đến phía admin!">
                                <button class="btn btn-primary get-otp" data-action="addGift" type="button">Lấy OTP</button>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success w-100 mt-2 action-add">Thêm</button>
                    </form>

                </div>
            </div>

        </div>

    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
{{>foot}}

