{{>head}}
{{>nav}}
<main class="main-content">
    <div class="contents">
        <div class="crm mb-25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">{{ title }}</h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4 mb-25 hand">
                                <div class="feature-cards5 d-flex justify-content-between border-0 radius-xl p-25">
                                    <div class="application-task d-flex align-items-center">
                                        <div class="application-task-icon wh-60 bg-secondary content-center">
                                            <img src="https://i.imgur.com/tzcV4H7.jpeg" width="50px">
                                        </div>
                                        <div class="application-task-content">
                                            <h4 data-bs-toggle="animate" data-value="{{countOKVIPBANK}}">{{ numberFormat countOKVIPBANK }}</h4>
                                            <span class="text-light fs-14 mt-1 texqt-capitalize">OKVIPBANK</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-20">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">
                                    <a href="{{ originalUrl.pathname }}" class="text-dark">
                                        <img src="../themes/admin/images/vps.png" alt="" width="35">
                                        Gửi tin nhắn
                                        <img src="../themes/admin/images/vps.png" class="d-md-none" width="35">
                                    </a>
                                </h6>
                            </div>
                            <div class="card-body">
                                <form action="" method="post" id="runCommand">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="" class="il-gray fs-14 fw-500">Tin nhắn</label>
                                                <textarea id="textarena" class="form-control form-editor" name="message"
                                                          rows="10" placeholder="Nhập lưu ý nổ hũ"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group mb-3">
                                                <button class="btn btn-primary btn-block">RUN
                                                    COMMAND</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="tabConsole" class="bg-dark p-2" style="min-height: 300px;">
                                    <pre class="mb-0"><code class="fs-sm">[03:10:43 04-02-2023] Cờ con sờ log...</code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{>foot}}
<script type="text/javascript">
    $(document).ready(function (e) {

        $('body').on('submit', '#runCommand', function (e) {
            e.preventDefault();
            let message = $('textarea[name=message]').val();

            // if (!command) {
            //     swal('Thông Báo', 'Vui lòng nhập lệnh!', 'info');
            //     return;
            // }

            // $('#runCommand button').html(`<div class="dm-spin-dots spin-sm"><span class="spin-dot badge-dot dot-light"></span><span class="spin-dot badge-dot dot-light"></span><span class="spin-dot badge-dot dot-light"></span><span class="spin-dot badge-dot dot-light"></span></div>`).prop('disabled', true);
            axios.post('#', { message: message })
                    .then((result) => {
                        let response = result.data;

                        $('input[name="command"]').val('');
                        $('#tabConsole').append(!response.success ? `<pre class="mb-0" style="color:red"><code class="fs-sm">[${moment().format('HH:mm:ss DD-MM-YYYY')}] ${response.message}</code></pre>` : `<pre class="mb-0"><code class="fs-sm">[${moment().format('HH:mm:ss DD-MM-YYYY')}] ${response.message || response.data.errData}</code></pre>`);
                    })
                    .catch((err) => {
                        swal('Thông Báo', err.message || err, 'error');
                    })
                    // .finally(() => $('#runCommand button').html(`RUN COMMAND`).prop('disabled', false))
        });
    })
</script>