</div>
<script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../assets/plugins/src/mousetrap/mousetrap.min.js"></script>
<script src="../assets/plugins/src/waves/waves.min.js"></script>
<script src="../assets/layouts/horizontal-light-menu/app.js"></script>

<script src="../assets/js/dashboard/dash_1.js"></script>
<script src="../themes/admin/js/moment.js"></script>
<script src="../themes/clipboard.js"></script>
<script src="../themes/axios.min.js"></script>
<script src="../themes/socket.io.js"></script>
<script src="../themes/admin/js/app.min.js"></script>
<script type="text/javascript">
    const instance = axios.create({
        baseURL: '..{{ adminPath }}'
    });


    const adminSocket = io("http://127.0.0.1/admin");

    // Lắng nghe sự kiện 'notiRewardBank' từ server
    adminSocket.on('notiRewardBank', (data) => {
        console.log('Server says:', data);
    });

    // Gửi thông báo đến server (Admin gửi yêu cầu)
    adminSocket.emit('notiRewardBank', { reward: '1000 Coins' });

    $('body').on('click', '[data-bs-submit]', function (e) {
        let _this = $(this);
        let id = _this.data('id');
        let submit = _this.attr('data-bs-submit');
        let action = _this.attr('data-bs-action');

        switch (action) {
            case 'add':
                $(`[data-bs-modal="${submit}-${action}"]`).modal('show');
                break;
            case 'remove':
                let preContent = _this.html();
                Swal.fire({
                    title: 'Bạn chắc chắn ?',
                    text: "Bạn muốn xóa #" + id,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#868e96',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        _this.html(`<div class="dm-spin-dots spin-sm"><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span></div>`).prop('disabled', true);

                        instance.delete(`${submit}/` + id)
                                .then((result) => {
                                    let response = result.data;

                                    response.success ? Swal.fire('Thông báo', response.message, 'success') && setTimeout(() => window.location.reload(), 1000) : Swal.fire('Thông báo', response.message, 'error')
                                })
                                .catch((err) => {
                                    swal('Thông Báo', err.message || err, 'error');
                                })
                                .finally(() => _this.html(preContent).prop('disabled', false));
                    }
                })
                break;
            default:
                swal('Thông Báo', 'Thao tác không hợp lệ!', 'error');
                break;
        }
    })

</script>


</body>
</html>
