<div id="bonus1" title="Click để nhận thưởng!">
    <img src="https://buidangtruong.xyz/tep-tin/692388E2E4DC38-A2F2-4DFF-B8E7-D46624A5B304.gif">
</div>
<script src="../themes/default/js/bootstrap.bundle.min.js"></script>
<script src="../themes/default/js/smooth-scrollbar.js"></script>
<script src="../themes/default/js/slimselect.min.js"></script>
<script src="../themes/default/js/admin.js?v=3u5"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script type="text/javascript">
    var username = "{{profile.username}}";
    var ag = new URLSearchParams(window.location.search).get("g") ? "#" + new URLSearchParams(window.location.search).get("g") : '#CL_Game';
</script>
<script>
    $(document).ready(function() {
        $('#bonus1').click(function() {
            if (!username) {
                window.location.href = "/dangnhap"
            }
            $.ajax({
                url: '/hopquamayman',
                datatype:'json',
                type: 'post',
                success: function (data) {

                },
                error: function(){
                    $('.content-popup').text('Có lỗi xảy ra. Vui lòng thử lại!');
                    $('#noticeModal').modal('show');
                }
            })
        })
    });
</script>
<script src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
<link rel="stylesheet" href="../themes/default/css/jquery.vnm.confettiButton.css">
<script src="../themes/default/js/jquery.vnm.confettiButton.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="../themes/axios.min.js"></script>
<script src="../themes/socket.io.js"></script>
<script src="../themes/custom.min.js"></script>