<footer>
    <!-- Container -->
    <div class="kt-container-fluid">
        <div class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5">
            <div class="flex order-2 md:order-1 gap-2 font-normal text-sm">
          <span class="text-muted-foreground">
           2025©
          </span>
                <a class="text-secondary-foreground hover:text-primary" href="https://keenthemes.com">
                    Keenthemes Inc.
                </a>
            </div>
            <nav class="flex order-1 md:order-2 gap-4 font-normal text-sm text-secondary-foreground">
                <a class="hover:text-primary" href="https://keenthemes.com/metronic/tailwind/docs">
                    Docs
                </a>
                <a class="hover:text-primary" href="https://1.envato.market/Vm7VRE">
                    Purchase
                </a>
                <a class="hover:text-primary" href="https://keenthemes.com/metronic/tailwind/docs/getting-started/license">
                    FAQ
                </a>
                <a class="hover:text-primary" href="https://devs.keenthemes.com">
                    Support
                </a>
                <a class="hover:text-primary" href="https://keenthemes.com/metronic/tailwind/docs/getting-started/license">
                    License
                </a>
            </nav>
        </div>
    </div>
</footer>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script type="text/javascript">
    const instance = axios.create({
        baseURL: '..{{ adminPath }}'
    });


    const adminSocket = io("http://127.0.0.1/admin");

    // socket.on('countOnline', (data) => {
    //     $('#userCount').html(data);
    // })

    $('body').on('click', '[data-bs-submit]', function (e) {
        let _this = $(this);
        let id = _this.data('id');
        let submit = _this.attr('data-bs-submit');
        let action = _this.attr('data-bs-action');

        switch (action) {
            case 'add':
                $(`[data-bs-modal="${submit}-${action}"]`).modal('show');
                break;
            case 'remove':
                let preContent = _this.html();
                Swal.fire({
                    title: 'Bạn chắc chắn ?',
                    text: "Bạn muốn xóa #" + id,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#868e96',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        _this.html(`<div class="dm-spin-dots spin-sm"><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span></div>`).prop('disabled', true);

                        instance.delete(`${submit}/` + id)
                                .then((result) => {
                                    let response = result.data;

                                    response.success ? Swal.fire('Thông báo', response.message, 'success') && setTimeout(() => window.location.reload(), 1000) : Swal.fire('Thông báo', response.message, 'error')
                                })
                                .catch((err) => {
                                    swal('Thông Báo', err.message || err, 'error');
                                })
                                .finally(() => _this.html(preContent).prop('disabled', false));
                    }
                })
                break;
            default:
                swal('Thông Báo', 'Thao tác không hợp lệ!', 'error');
                break;
        }
    })

</script>
