<div id="openTaiXiuMd5"
     style="display: block;pointer-events: none; position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.3);z-index: 1000;">
    <div id="taiXiuRong" class="active-game ui-draggable"
         style="user-select: none; pointer-events: auto; position: relative; left: 13px; top: -43px;">
        <div id="frame-taiXiuRong">
            <div class="frame-taiXiuRong">
                <img src="../themes/images/taiXiuRong/ban.png" class="ban ui-draggable-handle" width="100%">
                <img class="close" src="../themes/images/taiXiuRong/8f127b8a-d065-4976-842f-e17251c3f7ac.1f671.png"/>
                <img id="btnChangeNan" class="nan hidden" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
<!--                <img class="khong-nan" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>-->
                <div class="wrap-tai">
                    <div class="wrap-cuoc-tai">
                        <img class="tai" src="../themes/images/taiXiuRong/a8877353-38a6-4179-9742-17c270541764.84097.png"/>
                        <img class="input" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                        <img class="click" src="../themes/images/taiXiuRong/14cf2ec4f.c3e3c.png"/>

                        <img class="yourBetTai" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                        <div class="wrap-your-bet-tai">
                            <span class="number0"></span>
                        </div>

                        <img class="sumTai" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>

                    </div>
                </div>
                <div class="wrap">
                    <div class="wrap-second"></div>
                    <div class="wrap-turn">
                        <p><b id="turn"></b></p>
                    </div>
                    <img id="btnBat" class="bat hidden" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                    <div class="wrap-second-countdown hidden"></div>
                    <img id="btnBat" class="second-countdown hidden"
                         src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                    <div class="wrap-dice"></div>
                    <div class="wrap-history">
<!--                        <img src="../themes/images/taiXiuRong/tai.png" class="tai" />-->
<!--                        <img src="../themes/images/taiXiuRong/xiu.png" class="xiu" />-->
<!--                        <img src="../themes/images/taiXiuRong/tai.png" class="tai" />-->
<!--                        <img src="../themes/images/taiXiuRong/xiu.png" class="xiu" />-->
<!--                        <img src="../themes/images/taiXiuRong/tai.png" class="tai" />-->
<!--                        <img src="../themes/images/taiXiuRong/xiu.png" class="xiu" />-->
<!--                        <img src="../themes/images/taiXiuRong/tai.png" class="tai" />-->
<!--                        <img src="../themes/images/taiXiuRong/xiu.png" class="xiu" />-->
<!--                        <img src="../themes/images/taiXiuRong/tai.png" class="tai" />-->
<!--                        <img src="../themes/images/taiXiuRong/xiu.png" class="xiu" />-->
<!--                        <img src="../themes/images/taiXiuRong/tai.png" class="tai" />-->
<!--                        <img src="../themes/images/taiXiuRong/xiu.png" class="xiu" />-->
<!--                        <img src="../themes/images/taiXiuRong/tai.png" class="tai" />-->
<!--                        <img src="../themes/images/taiXiuRong/xiu.png" class="xiu" />-->
                    </div>

                </div>
                <div class="wrap-xiu">
                    <div class="wrap-cuoc-xiu">
                        <img class="xiu"
                             src="../themes/images/taiXiuRong/a8877353-38a6-4179-9742-17c270541764.84097.png"/>
                        <img class="input" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                        <img class="click" src="../themes/images/taiXiuRong/14cf2ec4f.c3e3c.png"/>

                        <img class="yourBetXiu" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                        <div class="wrap-your-bet-xiu">
                            <span class="number0"></span>
                        </div>

                        <img class="sumXiu" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>

                    </div>
                </div>
                <div id="wrap-action-bet" class="hidden">
                    <div class="wrap-bet">
                        <img data-value="1000" src="../themes/images/taiXiuRong/bet/bet1.png">
                        <img data-value="5000" src="../themes/images/taiXiuRong/bet/bet5.png">
                        <img data-value="10000" src="../themes/images/taiXiuRong/bet/bet10.png">
                        <img data-value="30000" src="../themes/images/taiXiuRong/bet/bet30.png">
                        <img data-value="50000" src="../themes/images/taiXiuRong/bet/bet50.png">
                    </div>
                    <img class="btnBet" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                    <img class="btnCancel" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                    <img class="btnAllin" src="../themes/images/taiXiuRong/17f275c33.481e2.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="taiXiuRong-modal">
    <div>
        <div class="taiXiuRong-modal-content">
            <img src="https://play.son9.club/assets/main/native/37/37cd6d1c-6995-483c-bccf-7fa3a01b194a.dff5a.png"
                 alt="Image" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>


<div class="taiXiuRong-noti">
    <div style="max-width: 1200px; width: 100%;">
        <img src="../themes/images/taiXiuRong/noti.png" style="max-width: 100%; height: auto;">
        <div class="wrap-noti">
            <p><b></b></p>
        </div>
    </div>
</div>
