{{>header}}
<body>
<div class="preloader"></div>
<!-- header -->
<header class="header">
    <div class="header__content">
        <!-- header logo -->
        <a href="/" class="header__logo">
            <img class="logo" src="{{ settings.logo }}" alt="{{ settings.nameSite }}"/>
        </a>
        <!-- end header logo -->
        <!-- header menu btn -->
        <button class="header__btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- end header menu btn -->
    </div>
</header>
<!-- end header -->
<!-- sidebar -->
{{>sidebar}}
<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            {{>game}}
            {{#if profile}}
                <div class="col-12">
                    <div class="dashbox">
                        <div class="dashbox__title">
                            <h3 style="margin:0 auto;">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M17.5354 2.87868C16.3638 1.70711 14.4644 1.70711 13.2928 2.87868L11.8786 4.29289C11.8183 4.35317 11.7611 4.41538 11.707 4.47931C11.653 4.41539 11.5958 4.3532 11.5355 4.29293L10.1213 2.87871C8.94975 1.70714 7.05025 1.70714 5.87868 2.87871C4.70711 4.05029 4.70711 5.94978 5.87868 7.12136L6.75732 8H1V14H3V22H21V14H23V8H16.6567L17.5354 7.12132C18.707 5.94975 18.707 4.05025 17.5354 2.87868ZM14.707 7.12132L16.1212 5.70711C16.5117 5.31658 16.5117 4.68342 16.1212 4.29289C15.7307 3.90237 15.0975 3.90237 14.707 4.29289L13.2928 5.70711C12.9023 6.09763 12.9023 6.7308 13.2928 7.12132C13.6833 7.51184 14.3165 7.51184 14.707 7.12132ZM10.1213 5.70714L8.70711 4.29293C8.31658 3.9024 7.68342 3.9024 7.29289 4.29293C6.90237 4.68345 6.90237 5.31662 7.29289 5.70714L8.70711 7.12136C9.09763 7.51188 9.7308 7.51188 10.1213 7.12136C10.5118 6.73083 10.5118 6.09767 10.1213 5.70714ZM21 10V12H3V10H21ZM12.9167 14H19V20H12.9167V14ZM11.0834 14V20H5V14H11.0834Z"
                                          fill="currentColor"></path>
                                </svg>
                                NHẬN GIFTCODE
                            </h3>
                        </div>
                        <div class="subpage-wrapper"><p><span class="code-num">CHUỖI CƯỢC NGÀY </span>là chương trình giúp bạn nhận thưởng cho tất cả quý khách có chuỗi thắng và chuỗi thua liên tiếp.<br>- Khách Hàng Thắng 10 Đơn Liên Tiếp Sẽ Được Nhận 5% Tổng Giá Trị 10 Đơn Cược, Khách Hàng Thua 10 Đơn Liên Tiếp Sẽ Được Hoàn 5% Tổng Giá Trị 10 Đơn Cược. Và Tương Tự Như Thế Các Mốc Sau Sẽ Càng Thêm Phần Quà Lớn Hơn.!!! LƯU Ý: CHỈ CHƠI GAME CLTX, CLTX2. Nếu Chơi Game Khác Để Làm Chuỗi Sẽ Bị Về Mốc 0</p><div class="text-center mb-3"><p>VUI LÒNG <a href="/dangnhap">ĐĂNG NHẬP</a> HOẶC <a href="/dangky">ĐĂNG KÝ</a> ĐỂ NHẬN THƯỞNG</p></div><div id="mess" class="text-center text--uppercase"></div></div>
                    </div>
                </div>
            {{else}}
                <div class="col-12">
                    <div class="dashbox">
                        <div class="dashbox__title">
                            <h3 style="margin:0 auto;">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M17.5354 2.87868C16.3638 1.70711 14.4644 1.70711 13.2928 2.87868L11.8786 4.29289C11.8183 4.35317 11.7611 4.41538 11.707 4.47931C11.653 4.41539 11.5958 4.3532 11.5355 4.29293L10.1213 2.87871C8.94975 1.70714 7.05025 1.70714 5.87868 2.87871C4.70711 4.05029 4.70711 5.94978 5.87868 7.12136L6.75732 8H1V14H3V22H21V14H23V8H16.6567L17.5354 7.12132C18.707 5.94975 18.707 4.05025 17.5354 2.87868ZM14.707 7.12132L16.1212 5.70711C16.5117 5.31658 16.5117 4.68342 16.1212 4.29289C15.7307 3.90237 15.0975 3.90237 14.707 4.29289L13.2928 5.70711C12.9023 6.09763 12.9023 6.7308 13.2928 7.12132C13.6833 7.51184 14.3165 7.51184 14.707 7.12132ZM10.1213 5.70714L8.70711 4.29293C8.31658 3.9024 7.68342 3.9024 7.29289 4.29293C6.90237 4.68345 6.90237 5.31662 7.29289 5.70714L8.70711 7.12136C9.09763 7.51188 9.7308 7.51188 10.1213 7.12136C10.5118 6.73083 10.5118 6.09767 10.1213 5.70714ZM21 10V12H3V10H21ZM12.9167 14H19V20H12.9167V14ZM11.0834 14V20H5V14H11.0834Z"
                                          fill="currentColor"></path>
                                </svg>
                                NHẬN GIFTCODE
                            </h3>
                        </div>
                        <div class="subpage-wrapper"><p><span class="code-num">CHUỖI CƯỢC NGÀY </span>là chương trình giúp bạn nhận thưởng cho tất cả quý khách có chuỗi thắng và chuỗi thua liên tiếp.<br>- Khách Hàng Thắng 10 Đơn Liên Tiếp Sẽ Được Nhận 5% Tổng Giá Trị 10 Đơn Cược, Khách Hàng Thua 10 Đơn Liên Tiếp Sẽ Được Hoàn 5% Tổng Giá Trị 10 Đơn Cược. Và Tương Tự Như Thế Các Mốc Sau Sẽ Càng Thêm Phần Quà Lớn Hơn.!!! LƯU Ý: CHỈ CHƠI GAME CLTX, CLTX2. Nếu Chơi Game Khác Để Làm Chuỗi Sẽ Bị Về Mốc 0</p><div class="text-center mb-3"><p>VUI LÒNG <a href="/dangnhap">ĐĂNG NHẬP</a> HOẶC <a href="/dangky">ĐĂNG KÝ</a> ĐỂ NHẬN THƯỞNG</p></div><div id="mess" class="text-center text--uppercase"></div></div>
                    </div>
                </div>
            {{/if}}
            <div class="col-12 col-xl-6">
                <div class="dashbox" style="border-radius:unset;">
                    <div class="dashbox__title">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="rows-3" class="lucide lucide-rows-3"><rect width="18" height="18" x="3" y="3" rx="2"></rect><path d="M21 9H3"></path><path d="M21 15H3"></path></svg> CHUỖI THUA NGÀY</h3></div><div class="dashbox__table-wrap" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content"><table class="dashbox__table table__txt-center"><thead><tr><th>MỐC CHUỖI</th><th>THƯỞNG</th><th>TRẠNG THÁI</th></tr></thead><tbody><tr><td>x8</td><td>5%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x15</td><td>10%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x20</td><td>45%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x30</td><td>80%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x60</td><td>200%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr></tbody></table></div><div class="scrollbar-track scrollbar-track-x show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 885px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 424px; transform: translate3d(0px, 0px, 0px);"></div></div></div></div></div><div class="col-12 col-xl-6"><div class="dashbox" style="border-radius:unset;"><div class="dashbox__title"><h3><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="rows-3" class="lucide lucide-rows-3"><rect width="18" height="18" x="3" y="3" rx="2"></rect><path d="M21 9H3"></path><path d="M21 15H3"></path></svg> CHUỖI THẮNG NGÀY</h3></div><div class="dashbox__table-wrap" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content"><table class="dashbox__table table__txt-center"><thead><tr><th>MỐC CHUỖI</th><th>THƯỞNG</th><th>TRẠNG THÁI</th></tr></thead><tbody><tr><td>x8</td><td>5%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x20</td><td>10%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x20</td><td>45%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x30</td><td>80%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr><tr><td>x50</td><td>200%</td><td><span class="gstatus not-done">CHƯA ĐẠT</span></td></tr></tbody></table></div><div class="scrollbar-track scrollbar-track-x show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 885px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 424px; transform: translate3d(0px, 0px, 0px);"></div></div></div></div></div><div class="text-center mt-3 mb-3"><div class="small-notes"><i>HỆ THỐNG LIÊN TỤC PHÁT CODE NGẪU NHIÊN - MIỄN PHÍ MỖI 10-15P TẠI <a href="https://t.me/SUPBANKTXCL" target="_blank">GROUP TELEGRAM</a></i></div></div>
        </div>
    </div>
</main>
{{>footer}}
{{{ settings.footerScript }}}