#taiXiuRong {
    z-index: 100;
    height: 0;
    width: 100%;
    font-weight: 700
}

#taiXiuRong #frame-taiXiuRong {
    touch-action: none;
    position: relative;
    margin: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: auto;
    -webkit-touch-callout: none
}

.frame-taiXiuRong {
    width: 100%;
    display: block;
    margin-bottom: 11%;
    max-width: 1200px;
    position: fixed;
    float: left;
    margin-right: -3%
}

/*#taiXiuRong .wrap-tai {*/
/*    display: flex;*/
/*}*/

/*.wrap-taixiu {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

#taiXiuRong .wrap-cuoc-tai .input {
    width: 43%;
    margin-top: -43%;
    margin-left: -3.1%;
    z-index: 2;
    position: absolute;
    transform: rotate(-90deg);
    background-size: auto;
    clip-path: polygon(57.68% 38.5%, 69.52% 36.5%, 68.52% 57.03%, 57.68% 54.03%);
}

#taiXiuRong .wrap-cuoc-tai .click {
    width: 21%;
    margin-top: -41.2%;
    margin-left: 5.7%;
    z-index: 3;
    position: absolute;
    transform: rotate(-90deg);
    background-size: auto;
    clip-path: polygon(43.1% 43.9%, 51.46% 43.9%, 53.46% 57.36%, 45.1% 56.36%);
}

#taiXiuRong .close {
    position: absolute;
    margin-left: -6%;
    margin-top: 11.8%;
    width: 3.6%;
}

#taiXiuRong .wrap-second {
    position: absolute;
    width: 16.2%;
    height: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 41.5%;
    margin-top: -36%;
}

#taiXiuRong .second1 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-1.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second2 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-2.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second3 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-3.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second4 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-4.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second5 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-5.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second6 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-6.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second7 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-7.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second8 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-8.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second9 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-9.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .second0 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/seconds/second-0.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .wrap-cuoc-tai .tai {
    width: 96%;
    margin-top: -47.2%;
    margin-left: -71%;
    z-index: 1;
    position: absolute;
    background-size: auto;
    clip-path: polygon(82.1% 28.37%, 100% 28.37%, 100% 50.24%, 82.1% 50.24%);
}

#taiXiuRong .wrap-cuoc-tai .yourBetTai {
    width: 52%;
    margin-top: -50.2%;
    margin-left: -11%;
    z-index: 1;
    position: absolute;
    background-size: auto;
    transform: rotate(-90deg);
    clip-path: polygon(49.48% 42.62%, 57.33% 42.62%, 56.33% 61.88%, 48.48% 62.88%);
}

#taiXiuRong .wrap-your-bet-tai {
    position: absolute;
    width: 10%;
    height: 3%;
    display: flex;
    margin-left: 11%;
    margin-top: -14.2%;
    z-index: 1;
    white-space-collapse: preserve-breaks;
    align-items: center;
}

#taiXiuRong .wrap-cuoc-xiu .xiu {
    width: 96%;
    margin-top: -71.2%;
    margin-left: -5%;
    z-index: 1;
    position: absolute;
    background-size: auto;
    clip-path: polygon(84.67% 100%, 99.85% 100%, 99.85% 74.81%, 84.67% 74.81%);
}

#taiXiuRong .wrap-cuoc-xiu .yourBetXiu {
    width: 52%;
    margin-top: -50.2%;
    margin-left: 56%;
    z-index: 1;
    position: absolute;
    background-size: auto;
    transform: rotate(-90deg);
    clip-path: polygon(49.48% 42.62%, 57.33% 42.62%, 56.33% 61.88%, 48.48% 62.88%);
}

#taiXiuRong .wrap-your-bet-xiu {
    position: absolute;
    width: 10%;
    height: 3%;
    display: flex;
    margin-left: 78%;
    margin-top: -14.2%;
    z-index: 1;
    white-space-collapse: preserve-breaks;
    align-items: center;
}

#taiXiuRong .wrap-cuoc-xiu .input {
    width: 43%;
    margin-top: -43%;
    margin-left: 64%;
    z-index: 2;
    position: absolute;
    transform: rotate(-90deg);
    background-size: auto;
    clip-path: polygon(57.68% 38.5%, 69.52% 36.5%, 68.52% 57.03%, 57.68% 54.03%);
}

#taiXiuRong .wrap-cuoc-xiu .click {
    width: 21%;
    margin-top: -41.2%;
    margin-left: 73%;
    z-index: 3;
    position: absolute;
    transform: rotate(-90deg);
    background-size: auto;
    clip-path: polygon(43.1% 43.9%, 51.46% 43.9%, 53.46% 57.36%, 45.1% 56.36%);
}

#taiXiuRong .yourBetTaiText {
    color: #FDDA0D;
}

.taiXiuRong-modal {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1001;
    display: none;
    justify-content: center;
    align-items: center;
}

.taiXiuRong-modal-content {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin-bottom: 11%;
    position: relative;
}

.taiXiuRong-noti {
    pointer-events: none;
    position: fixed;
    top: -6px;
    left: 24%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: none;
    justify-content: center;
    /*animation: slideDown 0.5s ease-out forwards;*/
}

.taiXiuRong-noti p {
    font-size: 1rem;
    margin-top: -6.5%;
    margin-left: 16%;
}

.taiXiuRong-noti .wrap-noti {
    position: absolute;
    width: 20.8%; /* Adjust width as needed, you can use vw or % for responsiveness */
    height: 2.5%; /* Adjust height as needed */
    display: flex;
    margin-left: 2.5%;
    margin-top: -3.6%;
    z-index: 1002;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center the text itself */
    font-size: 2vw; /* Font size responsive based on viewport width */
}

.taiXiuRong-noti .wrap-noti p {
    margin: 0; /* Remove default margins */
}

#taiXiuRong .wrap .bat {
    width: 70%;
    margin-top: -54%;
    margin-left: 37%;
    z-index: 99;
    position: absolute;
    background-size: auto;
    clip-path: polygon(0% 13.19%, 36.63% 13.19%, 35.62% 38.51%, 0% 38.51%);
}

#taiXiuRong .wrap .second-countdown {
    width: 45%;
    margin-top: -56%;
    margin-left: 11%;
    position: absolute;
    background-size: auto;
    transform: rotate(-90deg);
    clip-path: polygon(31.72% 70.45%, 31.72% 80.66%, 20.34% 78.66%, 21.34% 68.45%);
    z-index: 1;
}

#taiXiuRong .wrap-second-countdown {
    position: absolute;
    width: 2.3%;
    height: 4.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48.7%;
    margin-top: -14%;
    z-index: 2;
}

.dice-1 {
    width: 8%;
    position: absolute;
    margin-left: 40%;
    margin-top: -29%;
    transform: rotate(97deg);
}

.dice-2 {
    width: 8%;
    position: absolute;
    margin-left: 48%;
    margin-top: -35%;
    transform: rotate(96deg);
}

.dice-3 {
    width: 8%;
    position: absolute;
    margin-left: 49%;
    margin-top: -27%;
    transform: rotate(83deg);
}

#taiXiuRong .wrap-bet {
    width: 61%;
    margin-left: 19.2%;
}

#taiXiuRong .wrap-bet img {
    width: 100%;
    height: 95%;
}

#taiXiuRong .wrap-turn {
    display: flex;
    position: absolute;
    width: 17%;
    height: 5%;
    margin-left: 41%;
    margin-top: -10%;
    justify-content: center;
}

#taiXiuRong .wrap-bet {
    display: flex;
    position: absolute;
    width: 80%;
    height: 13%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
}

#taiXiuRong .wrap-bet img {
    width: 14%;
    height: 73%;
}

@keyframes slideDown {
    0% {
        top: -100px; /* Vị trí ban đầu, nằm ngoài màn hình */
    }
    100% {
        top: -6px; /* Vị trí kết thúc, ở trên cùng màn hình */
    }
}

@keyframes slideUp {
    0% {
        top: -6px; /* Vị trí ban đầu, nằm ngoài màn hình */
    }
    100% {
        top: -100px; /* Vị trí kết thúc, ở trên cùng màn hình */
    }
}

@media screen and (max-width: 900px) {
    .frame-taiXiuRong {
        width: 80%;
        height: auto;
    }

    .taiXiuRong-modal-content {
        max-width: 560px;
        height: auto;
    }

    .taiXiuRong-noti .wrap-noti {
        width: 39.8%;
        height: 10.5%;
        margin-left: 4.5%;
        margin-top: -6.4%;
    }
}

#taiXiuRong .numberphay {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/numberphay.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
    margin-top: 10%;
}

#taiXiuRong .number0 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number0.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number1 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number1.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number2 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number2.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number3 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number3.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number4 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number4.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number5 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number5.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number6 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number6.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number7 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number7.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number8 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number8.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .number9 {
    width: 100%; /* Đảm bảo phần tử con có kích thước đầy đủ */
    height: 100%; /* Đảm bảo phần tử con có chiều cao đầy đủ */
    background-image: url('/themes/images/taiXiuRong/number/number9.png');
    background-size: contain; /* Hoặc 'cover' nếu bạn muốn ảnh lớn hơn */
    background-repeat: no-repeat;
    background-position: center center; /* Căn giữa ảnh nền */
}

#taiXiuRong .btnBet {
    width: 70%;
    margin-top: -18%;
    margin-left: -9%;
    z-index: 99;
    position: absolute;
    background-size: auto;
    clip-path: polygon(80.91% 65.32%, 88.76% 65.32%, 89.76% 81.53%, 80.91% 81.53%);
    transform: rotate(-90deg);
}

#taiXiuRong .btnCancel {
    width: 70%;
    margin-top: -18%;
    margin-left: 41%;
    z-index: 99;
    position: absolute;
    background-size: auto;
    clip-path: polygon(81.91% 0.27%, 88.96% 0%, 88.96% 16.13%, 80.91% 16.13%);
    transform: rotate(-90deg);
}

#taiXiuRong .btnAllin {
    width: 70%;
    margin-top: -18%;
    margin-left: 24.3%;
    z-index: 99;
    position: absolute;
    background-size: auto;
    clip-path: polygon(81.91% 49.12%, 88.96% 48.12%, 88.96% 65%, 80.91% 65%);
    transform: rotate(-90deg);
}

#taiXiuRong .sumTai {
    width: 63%;
    margin-top: -60%;
    margin-left: 7.3%;
    z-index: 99;
    position: absolute;
    background-size: auto;
    clip-path: polygon(58.38% 39.77%, 66.16% 36.77%, 69.16% 13.28%, 58.38% 13.28%);
    transform: rotate(-90deg);
}

#taiXiuRong .sumXiu {
    width: 63%;
    margin-top: -60%;
    margin-left: 74.3%;
    z-index: 99;
    position: absolute;
    background-size: auto;
    clip-path: polygon(58.38% 39.77%, 66.16% 36.77%, 69.16% 13.28%, 58.38% 13.28%);
    transform: rotate(-90deg);
}

#taiXiuRong .khong-nan {
    position: absolute;
    margin-left: -48.3%;
    margin-top: 11.8%;
    width: 50%;
    clip-path: polygon(36.11% 63.89%, 49.21% 64.89%, 49.21% 72.85%, 35.11% 72.85%);
    transform: rotate(-90deg);
}

#taiXiuRong .nan {
    position: absolute;
    margin-left: -13%;
    margin-top: -0.2%;
    width: 50%;
    clip-path: polygon(0.33% 67.18%, 13.29% 67.39%, 13% 80.22%, 1% 75.75%);
}

#taiXiuRong .wrap-history {
    display: flex;
    width: 49%;
    height: 5%;
    margin-top: -4.8%;
    position: absolute;
    margin-left: 25.2%;
}

/*#taiXiuRong .wrap-history .tai {*/
/*    position: absolute;*/
/*    clip-path: polygon(26.78% 63.56%, 37.05% 63.61%, 37.05% 68.84%, 26.65% 68.79%);*/
/*}*/

/*#taiXiuRong .wrap-history .xiu {*/
/*    position: absolute;*/
/*    clip-path: polygon(26.76% 68.84%, 34.96% 68.84%, 34.96% 72.32%, 26.76% 72.32%);*/
/*}*/

.wrap-history img {
    width: 100%;
    margin-left: 5px;
}

.wrap-history img:last-child {
    animation: flashAnimation 0.5s infinite;
}

@keyframes flashAnimation {
    0% { scale: 1; }
    50% { scale: 1.4; }
    100% { scale: 1; }
}
